@media (min-width: 520px) and (max-width: 767px) {
   .hero3 {
      background-color: var(--color-ebony);

      &::before {
         background-image: url('../img/hero3__back320.svg');
      }
   }

  .content {
    &__list-new {
      padding-left: unset;
      padding-right: unset;
      justify-content: center;
    }

    &__item-new {
      grid-column: 2 / 12;
    }
  }

  .ntools {
   position: relative;
    z-index: -1;
    
   &__link {
      flex-direction: column;
      align-items: unset;
      justify-content: unset;
    }

    &__list {
      padding-left: unset;
      padding-right: unset;
      column-gap: 20px;
    }

    &__left {
      width: 100%;
      height: 180px;
    }

    &__left-framer {
      background-image: url("../img/new__left-framer320.png");
    }

    &__left-whimsical {
      background-image: url("../img/new__left-whimsical320.png");
    }

    &__left-mindmaster {
      background-image: url("../img/new__left-mindmaster320.png");
    }

    &__left-zapier {
      background-image: url("../img/new__left-zapier320.png");
    }

    &__left-atom {
      background-image: url("../img/new__left-atom320.png");
    }

    &__left-marvel {
      background-image: url("../img/new__left-marvel320.png");
    }

    &__left-protoPie {
      background-image: url("../img/new__left-protopie320.png");
    }

    &__left-mockflow {
      background-image: url("../img/new__left-mockflow320.png");
    }

    &__left-justinmind {
      background-image: url("../img/new__left-justinmind320.png");
    }

    &__left-interplay {
      background-image: url("../img/new__left-interplay320.png");
    }

    &__right {
      height: 185px;
      max-width: 100%;
    }

    &__wrapper-title {
      flex-wrap: nowrap;
    }
  }
}
