@media (min-width: 768px) and (max-width: 1023px) {
   .content {
      &__list-new {
         padding-left: unset;
         padding-right: unset;
     }

      &__item-new1,
      &__item-new3,
      &__item-new5,
      &__item-new7,
      &__item-new9,
      &__item-new11 {
        grid-column: 1 / 7;
      }
  
      &__item-new2,
      &__item-new4,
      &__item-new6,
      &__item-new8,
      &__item-new10,
      &__item-new12 {
        grid-column: 7 / 13;
      }
    }

    .ntools {
      position: relative;
    z-index: -1;
    
   &__link {
      flex-direction: column;
      align-items: unset;
      justify-content: unset;
    }

    &__list {
      padding-left: unset;
      padding-right: unset;
    }

    &__left {
      width: 100%;
      height: 180px;
    }

    &__left-framer {
      background-image: url("../img/new__left-framer320.png");
    }

    &__left-whimsical {
      background-image: url("../img/new__left-whimsical320.png");
    }

    &__left-mindmaster {
      background-image: url("../img/new__left-mindmaster320.png");
    }

    &__left-zapier {
      background-image: url("../img/new__left-zapier320.png");
    }

    &__left-atom {
      background-image: url("../img/new__left-atom320.png");
    }

    &__left-marvel {
      background-image: url("../img/new__left-marvel320.png");
    }

    &__left-protoPie {
      background-image: url("../img/new__left-protopie320.png");
    }

    &__left-mockflow {
      background-image: url("../img/new__left-mockflow320.png");
    }

    &__left-justinmind {
      background-image: url("../img/new__left-justinmind320.png");
    }

    &__left-interplay {
      background-image: url("../img/new__left-interplay320.png");
    }

    &__right {
      height: 185px;
      max-width: 100%;
    }

    &__subtitle {
      padding-right: 10px;
    }

    &__wrapper-title {
      flex-wrap: wrap;
    }
    }
}