.new {
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: var(--color-alabaster);
 
   &__container {
     text-align: center;
   }
 
   &__descr {
     margin-bottom: 50px;
   }
 
   &__list {
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     gap: 50px;
     padding-left: 50px;
     padding-right: 50px;
     margin-bottom: 50px;
   }
 
   &__item {
    height: 100%;
     padding: 26px;
   //   max-width: calc(90% / 2);
     box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
   }

   &__item1,
   &__item3 {
      grid-column: 1 / 7;
   }

   &__item2,
   &__item4 {
      grid-column: 7 / 13;
   }

   &__link {
    height: 100%;
      @include flex-all-sb;
      gap: 25px;
   }
 
   &__left {
     border-radius: 5px;
     width: 27%;
     height: 78%;
     @include bg-cover;
   }
 
   &__left-framer {
     background-image: url("../img/new__left-framer.png");
   }
 
   &__left-whimsical {
     background-image: url("../img/new__left-whimsical.png");
   }
 
   &__left-mindmaster {
     background-image: url("../img/new__left-mindmaster.png");
   }

   &__left-zapier {
      background-image: url("../img/new__left-zapier.png");
    }
 
   &__right {
    height: 100%;
    max-width: 67.4%;
     @include flex-column;
   }
 
   &__wrapper-title {
     margin-bottom: 10px;
     @include flex-all-sb;
     flex-wrap: wrap;
   }
 
   &__subtitle {
     font-family: "Poppins";
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 150%;
     color: var(--color-space);
   }
 
   &__cost {
     font-family: "Poppins";
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 150%;
     text-transform: uppercase;
     color: var(--color-meadow);
   }

   &__cost-30days {
    padding-left: 15px;
      color: var(--color-azure);
    }
 
   &__cost-premium {
     color: var(--color-bright);
   }
 
   &__subdescr {
     margin-bottom: 15px;
     font-family: "Poppins";
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 150%;
     text-align: left;
     color: var(--color-fiord);
   }
 
   &__wrapper-sublinks {
    margin-top: auto;
     @include flex-start;
   }
 
   &__sublink {
     padding: 5px 10px;
     font-family: "Poppins";
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 32px;
     letter-spacing: 0.2px;
     color: var(--color-lochmara);
     background-color: var(--color-selago);
     border-radius: 4px;
   }
 
   &__sublink:not(:last-child) {
     margin-right: 15px;
   }
 
   &__link-more {
     padding: 7px 45px;
     font-family: "Poppins";
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 32px;
     letter-spacing: 0.2px;
     color: var(--color-light);
     background-color: var(--color-space);
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
     border-radius: 8px;
   }
 }
 