.ntools {
   padding-top: 50px;
   padding-bottom: 60px;
   background-color: var(--color-light);

   &__link {
      height: 100%;
      @include flex-all-sb;
      gap: 25px;
   }
 
   &__left {
      width: 27%;
    height: 78%;
      border-radius: 5px;
      @include bg-cover;
    }
 
   &__left-framer {
      background-image: url("../img/new__left-framer.png");
    }
  
    &__left-whimsical {
      background-image: url("../img/new__left-whimsical.png");
    }
  
    &__left-mindmaster {
      background-image: url("../img/new__left-mindmaster.png");
    }
 
    &__left-zapier {
       background-image: url("../img/new__left-zapier.png");
     }
 
   &__left-atom {
     background-image: url("../img/new__left-atom.png");
   }
 
   &__left-marvel {
     background-image: url("../img/new__left-marvel.png");
   }
 
   &__left-protoPie {
     background-image: url("../img/new__left-protoPie.png");
   }
 
   &__left-mockflow {
     background-image: url("../img/new__left-mockflow.png");
   }
 
   &__left-justinmind {
     background-image: url("../img/new__left-justinmind.png");
   }

   &__left-interplay {
      background-image: url("../img/new__left-interplay.png");
    } 
 
   &__right {
      height: 100%;
      max-width: 67.4%;
     @include flex-column;
   }
 
   &__wrapper-title {
     margin-bottom: 10px;
     @include flex-all-sb;
     flex-wrap: wrap;
   }
 
   &__subtitle {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      color: var(--color-space);
    }
  
    &__cost {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      text-transform: uppercase;
      color: var(--color-meadow);
    }
 
   &__cost-premium {
     color: var(--color-bright);
   }
 
   &__cost-30days {
     color: var(--color-azure);
   }
 
   &__subdescr {
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     overflow: hidden;
     margin-bottom: 15px;
     font-family: "Poppins";
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 160%;
     text-align: left;
     color: var(--color-fiord);
   }
 
   &__wrapper-sublinks {
      margin-top: auto;
     @include flex-start;
   }
 
   &__sublink {
     padding: 5px 10px;
     font-family: "Poppins";
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 32px;
     letter-spacing: 0.2px;
     color: var(--color-lochmara);
     background-color: var(--color-selago);
     border-radius: 4px;
   }
 
   &__sublink:not(:last-child) {
     margin-right: 15px;
   }
 
   &__link-more {
     padding: 7px 45px;
     font-family: "Poppins";
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 32px;
     letter-spacing: 0.2px;
     color: var(--color-light);
     background-color: var(--color-space);
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
     border-radius: 8px;
   }
 }
 
 .content {
   &__list-new {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 50px;
      padding-left: 50px;
      padding-right: 50px;
      margin-bottom: 50px;
    }
  
    &__item-new {
      height: 100%;
      padding: 26px;
    //   max-width: calc(90% / 2);
      box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
       border-radius: 8px;
    }
 
    &__item-new1,
    &__item-new3,
    &__item-new5,
    &__item-new7,
    &__item-new9
     {
       grid-column: 1 / 7;
    }
 
    &__item-new2,
    &__item-new4,
    &__item-new6,
    &__item-new8,
    &__item-new10 {
       grid-column: 7 / 13;
    }

    &__item-new1 {
      animation-delay: .9s;
    }

    &__item-new2 {
      animation-delay: 1.2s;
    }

    &__item-new3 {
      animation-delay: 1.5s;
    }

    &__item-new4 {
      animation-delay: 1.8s;
    }

    &__item-new5 {
      animation-delay: 2.1s;
    }

    &__item-new6 {
      animation-delay: 2.4s;
    }
 }

 .tabs {
   &__list {
     margin-top: 70px;
     @include flex-all-center;
   }
 
   &__item:not(:last-child) {
     margin-right: 3px;
   }
 
   &__content {
     display: none;
     background-color: #fff;
   }
 
   &__content--active {
     display: block;
   }
 
   &__btn {
     cursor: pointer;
     padding: 4px 12px;
     width: 40px;
     height: 40px;
     background: var(--color-light);
     color: var(--color-black);
     border: 1px solid rgba(0, 0, 0, 0.2);
     border-radius: 4px;
     font-family: "Poppins";
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 32px;
     letter-spacing: 0.2px;
   }
 
   &__btn--active {
     cursor: auto;
     background-color: var(--color-black);
     color: var(--color-light);
   }
 }
 