.testimonials {
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: var(--color-alabaster);

  &__container {
    text-align: center;
  }

  &__descr {
    margin-bottom: 50px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    text-align: left;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    box-shadow: 0px 16px 50px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
  }

  &__item1 {
    grid-column: 1 / 5;
  }

  &__item2 {
    grid-column: 5 / 9;
  }

  &__item3 {
    grid-column: 9 / 13;
  }

  &__rating {
   height: 20px;
    width: 106px;
    margin-bottom: 20px;
    display: inline-block;
    @include bg-cover;
    background-size: contain;
    background-image: url("../img/testimonials__rating.svg");
  }

  &__subdescr {
    margin-bottom: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: var(--color-fiord);
  }

  &__wrapper-user {
    @include flex-all-sb;
    gap: 15px;
  }

  &__photo {
    width: 64px;
    height: 64px;
    @include bg-cover;
    background-size: contain;
  }

  &__photo1 {
    background-image: url("../img/testimonials__photo1.png");
  }

  &__photo2 {
    background-image: url("../img/testimonials__photo2.png");
  }

  &__photo3 {
    background-image: url("../img/testimonials__photo3.png");
  }

  &__wrapper-text {
   @include flex-column;
  }

  &__name {
    margin-bottom: 5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--color-space);
  }

  &__job {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--color-oxford);
  }
}
