.hero,
.hero2,
.hero3 {
   &__btn {
      transition: box-shadow .3s ease-in-out, transform .3s ease-in-out, background-color .3s ease-in-out;
   }

   &__btn:focus:not(:hover):not(:active) {
      outline: 3px solid var(--color-light);
      outline-offset: -3px;
   }

   &__btn:hover {
      outline: transparent;
      transform: translateY(4px);
      box-shadow: 0px 4px 6px var(--color-zumthor);
      background-color: var(--color-lochmara);
   }

   &__btn:active {
      outline: transparent;
      transform: translateY(4px);
      background-color: var(--color-dodger);
   }
}