.ntools {
   &__sublink {
      transition: transform .3s ease-in-out, color .3s ease-in-out;
   }

   &__sublink:focus:not(:hover):not(:active) {
      outline: 2px solid var(--color-azure);
      outline-offset: -2px;
   }

   &__sublink:hover {
      outline: transparent;
      transform: translateY(2px);
   }

   &__sublink:active {
      outline: transparent;
      transform: translateY(2px);
      color: var(--color-fiord);
   }
}

.content {
   &__item-new {
      transition: transform .3s ease-in-out, background-color .3s ease-in-out, box-shadow .3s ease-in-out;
   }

   &__item-new:focus:not(:hover):not(:active) {
      outline: 3px solid var(--color-zumthor);
   }

   &__item-new:hover {
      cursor: pointer;
      outline: transparent;
      box-shadow: 0px 8px 32px rgba(34, 110, 252, 0.247);
   }

   &__item-new:active {
      outline: transparent;
      background-color: var(--color-alabaster);
   }
}

.tabs {
   &__btn {
      transition: transform .3s ease-in-out, color .3s ease-in, background-color .3s ease-in-out;
   }

   &__btn:hover {
      transform: translateY(3px);
      background-color: var(--color-azure);
   }

   &__btn--active:hover {
      transform: unset;
      color: var(--color-light);
      background-color: var(--color-black);
   }
}