.testimonials {
   &__item {
      transition: transform .3s ease-in-out, background-color .3s ease-in-out, box-shadow .3s ease-in-out;
   }

   &__item:focus:not(:hover):not(:active) {
      outline: 3px solid var(--color-zumthor);
   }

   &__item:hover {
      cursor: pointer;
      outline: transparent;
      transform: translateY(3px);
      box-shadow: 0px 16px 50px rgba(34, 110, 252, 0.247);
   }

   &__item:active {
      outline: transparent;
      transform: translateY(3px);
      background-color: var(--color-alabaster);
   }
}