.appearance {
   animation: appearance 1.5s .5s ease-in-out;
   opacity: 0;
   animation-fill-mode: forwards;
 }

 @keyframes appearance {
   0% {
     transform: translateY(100px);
     opacity: 0;
   }
   100% {
     transform: translateY(0);
     opacity: 1;
   }
 }